.system-card {
  border-radius: 15px;
}

.workspace-container {
  width:1000px;
  height:600px;
  top: 50%;
  left: 50%;
  border-radius:15px;
}

.input-format {
  width: 80%;
}

.admin-name {
  color: #673ab7;
}

.text-danger {
  color: #a94442;
  font-size: 12px;
}
