<div class="workspace-container mid-position">
  <h3 class="workspace-title">Community Administrator Registration</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Create community administrator account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <!--start of the first step form-->
        <mat-step [stepControl]="communityGroup">
          <form [formGroup]="communityGroup">
            <ng-template matStepLabel>Select the Community</ng-template>
            <app-select-control-box [attrContent]="selectStates"></app-select-control-box>
            <app-select-control-box [attrContent]="selectCounty"></app-select-control-box>
            <app-select-control-box [attrContent]="selectCity"></app-select-control-box>
            <app-select-control-box [attrContent]="selectCommunity"></app-select-control-box>
            <!--<mat-form-field class="col-sm-12">-->
              <!--<mat-select placeholder="County" required formControlName="county">-->
                <!--<mat-option>None</mat-option>-->
                <!--<mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="col-sm-12">-->
              <!--<mat-select placeholder="City"required formControlName="city">-->
                <!--<mat-option>None</mat-option>-->
                <!--<mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="col-sm-12">-->
              <!--<mat-select placeholder="Community" required formControlName="community">-->
                <!--<mat-option>None</mat-option>-->
                <!--<mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <div class="col-sm-12">
              <button mat-raised-button color ="primary" matStepperNext [disabled]="communityGroup.invalid">Next</button>
            </div>
          </form>
        </mat-step>
        //second step
        <mat-step [stepControl]="userForm">
          <form [formGroup]="userForm">
            <ng-template matStepLabel>Registration Information</ng-template>
            <app-input-control-box [attrContent]="userName"></app-input-control-box>
            <app-input-control-box [attrContent]="passWord"></app-input-control-box>
            <app-input-control-box [attrContent]="confirmPassword" validateEqual="password"></app-input-control-box>
            <!--<mat-form-field class="col-sm-12">-->
              <!--<input matInput type="text" placeholder="User Name" formControlName="userName" #userName minlength="4" maxlength="32" required>-->
              <!--<mat-hint align="start" *ngIf="formErrors.userName" class="text-danger">{{ formErrors.userName }}</mat-hint>-->
              <!--<mat-hint align="end">{{userName.value.length}} / 32</mat-hint>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="col-sm-12" [ngClass]="{'has-error': formErrors.password }">-->
              <!--<input matInput type="password" validateEqual="confirmPassword" reverse=true required placeholder="Password"  #password minlength="8" maxlength="256" formControlName="password">-->
              <!--<mat-hint align="start" *ngIf="formErrors.password" class="text-danger">{{ formErrors.password }}</mat-hint>-->
              <!--<mat-hint align="end">{{password.value.length}} / 256</mat-hint>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="col-sm-12" [ngClass]="{'has-error': formErrors.confirmPassword }">-->
              <!--<input matInput type="password" validateEqual="password" placeholder="Reenter Password" formControlName="confirmPassword" #confirmPassword minlength="8" maxlength="256" required>-->
              <!--<mat-hint align="start" *ngIf="formErrors.confirmPassword" class="text-danger">{{ formErrors.confirmPassword }}</mat-hint>-->
              <!--<mat-hint align="end">{{confirmPassword.value.length}} / 256</mat-hint>-->
            <!--</mat-form-field>-->
            <div class="col-sm-12">
              <button mat-raised-button color ="primary" [disabled]="userForm.invalid" matStepperNext>Next</button>
              <button mat-raised-button color ="accent" matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>
        //third step
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p> You have assigned <b class="admin-name"> John Smith </b> to be the community administrator of</p>
          <mat-divider></mat-divider>
          <br><br>
          <div layout="row">
            <!--get the state and other information from json data later -->
            <p class="col-sm-6"> State: <b> Pennsylvania </b> </p>
            <p class="col-sm-6"> County: <b> Allegheny </b> </p>
          </div>
          <br>
          <div layout="row">
            <p class="col-sm-6"> City: <b> Pittsburgh </b> </p>
            <p class="col-sm-6"> Community: <b> Shadyside </b> </p>
          </div>
          <br><br><br><br>
          <div class="col-sm-12">
            <button mat-raised-button color="primary">Done</button>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
