.system-card {
  border-radius: 15px;
}

.workspace-container {
  width:1000px;
  height:600px;
  top: 50%;
  left: 50%;
  border-radius:15px;
}

.col-sm-12 {
  width: 90%;
}
.text-danger {
  color: #a94442;
  font-size: 12px;
}
