<div class="workspace-container mid-position">
  <h3 class="workspace-title">Community Member Registration</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Register Community Member</mat-card-title>
    </mat-card-header>
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select the family</ng-template>
          <div class="chip">
            <!--<mat-chip-list>-->
            <!--<mat-chip color="primary" selected="true">Pennslyvania</mat-chip>-->
            <!--<mat-chip color="primary" selected="true">Allegheny</mat-chip>-->
            <!--<mat-chip color="primary" selected="true">Pittsburgh</mat-chip>-->
            <!--<mat-chip color="primary" selected="true">North Oakland</mat-chip>-->
            <!--</mat-chip-list>-->
            <mat-form-field class="col-sm-3">
              <input matInput placeholder="State" disabled value="Pennslyvania">
            </mat-form-field>
            <mat-form-field class="col-sm-3">
              <input matInput placeholder="County" disabled value="Allegheny">
            </mat-form-field>
            <mat-form-field class="col-sm-3">
              <input matInput placeholder="City" disabled value="Pittsburgh">
            </mat-form-field>
            <mat-form-field class="col-sm-3">
              <input matInput placeholder="Community" disabled value="North Oakland">
            </mat-form-field>
          </div>
          <mat-form-field class="col-sm-12">
            <mat-select placeholder="Select a block" disableRipple formControlName="block">
              <mat-option value="1">Option 1</mat-option>
              <mat-option value="2">Option 2</mat-option>
              <mat-option value="3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-select placeholder="Select a family" disableRipple formControlName="family">
              <mat-option value="1">Option 1</mat-option>
              <mat-option value="2">Option 2</mat-option>
              <mat-option value="3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
            <button mat-raised-button matStepperNext color="accent">Create Family</button>
          </div>
        </form>
      </mat-step>

      //second step
      <mat-step [stepControl]="userForm">
        <form [formGroup]="userForm">
          <ng-template matStepLabel>Basic Information</ng-template>
          <h4> Register Information</h4>
          <mat-form-field class="col-sm-12">
            <input matInput type="text" placeholder="User Name" formControlName="userName" #userName minlength="4" maxlength="32">
            <mat-hint align="start" *ngIf="formErrors.userName" class="text-danger">{{ formErrors.userName }}</mat-hint>
            <mat-hint align="end">{{userName.value.length}} / 32</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <input matInput placeholder="Password" disabled value="FOCUS@pitt2018">
          </mat-form-field>

          <mat-form-field class="col-sm-12" [ngClass]="{'has-error': formErrors.password }">
            <input matInput type="password" validateEqual="confirmPassword" reverse=true placeholder="Password"  #password minlength="8" maxlength="256" formControlName="password">
            <mat-hint align="start" *ngIf="formErrors.password" class="text-danger">{{ formErrors.password }}</mat-hint>
            <mat-hint align="end">{{password.value.length}} / 256</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-sm-12" [ngClass]="{'has-error': formErrors.confirmPassword }">
            <input matInput type="password" validateEqual="password" placeholder="Reenter Password" formControlName="confirmPassword" #confirmPassword minlength="8" maxlength="256">
            <mat-hint align="start" *ngIf="formErrors.confirmPassword" class="text-danger">{{ formErrors.confirmPassword }}</mat-hint>
            <mat-hint align="end">{{confirmPassword.value.length}} / 256</mat-hint>
          </mat-form-field>

          <h4>Personal Information</h4>
          <div>
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="First Name" formControlName="firstName" #firstName maxlength="32">
              <mat-hint align="start" *ngIf="formErrors.firstName" class="text-danger">{{ formErrors.firstName }}</mat-hint>
              <mat-hint align="end">{{firstName.value.length}} / 32</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Middle Name" formControlName="midName" #midName maxlength="32">
              <mat-hint align="start" *ngIf="formErrors.midName" class="text-danger">{{ formErrors.midName }}</mat-hint>
              <mat-hint align="end">{{midName.value.length}} / 32</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Last Name" formControlName="lastName" #lastName maxlength="32">
              <mat-hint align="start" *ngIf="formErrors.lastName" class="text-danger">{{ formErrors.lastName }}</mat-hint>
              <mat-hint align="end">{{lastName.value.length}} / 32</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="col-sm-12">
              <mat-select placeholder="Gender" disableRipple formControlName="gender">
                <mat-option value="1">Male</mat-option>
                <mat-option value="2">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Phone Number" formControlName="phone" #phone maxlength="10">
              <mat-icon matSuffix>phone </mat-icon>
              <mat-hint align="start" *ngIf="formErrors.phone" class="text-danger">{{ formErrors.phone }}</mat-hint>
              <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-sm-6">
              <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Address 1" formControlName="address1" #address1 maxlength="32">
              <mat-hint align="start" *ngIf="formErrors.address1" class="text-danger">{{ formErrors.address1 }}</mat-hint>
              <mat-hint align="end">{{address1.value.length}} / 32</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Address 2" formControlName="address2" #address2 maxlength="32">
              <mat-hint align="start" *ngIf="formErrors.address2" class="text-danger">{{ formErrors.address2 }}</mat-hint>
              <mat-hint align="end">{{address2.value.length}} / 32</mat-hint>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="City" formControlName="city" #city maxlength="32">
              <mat-hint align="start" *ngIf="formErrors.city" class="text-danger">{{ formErrors.city }}</mat-hint>
              <mat-hint align="end">{{city.value.length}} / 32</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <mat-select placeholder="State" disableRipple formControlName="state">
                <mat-option value="1">none</mat-option>
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Zipcode" formControlName="zipcode" #zipcode maxlength="5" minlength="5">
              <mat-hint align="start" *ngIf="formErrors.zipcode" class="text-danger">{{ formErrors.zipcode }}</mat-hint>
              <mat-hint align="end">{{zipcode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <button mat-raised-button color="primary" matStepperNext [disabled]="userForm.invalid">Next</button>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <!--start of the third step -->
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Additional Information</ng-template>
          <div>
            <mat-form-field class="col-sm-6">
              <mat-select placeholder="Race" disableRipple formControlName="race">
                <mat-option value="1">Caucasian</mat-option>
                <mat-option value="2">African American</mat-option>
                <mat-option value="3">Hispanic</mat-option>
                <mat-option value="4">Bi-Racial</mat-option>
                <mat-option value="5">Asian</mat-option>
                <mat-option value="6">White</mat-option>
                <mat-option value="7">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <mat-select placeholder="Marital Status" disableRipple formControlName="marital">
                <mat-option value="1">Single</mat-option>
                <mat-option value="2">Married</mat-option>
                <mat-option value="3">Seperated</mat-option>
                <mat-option value="4">Divorced</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="col-sm-6">
              <mat-select placeholder="Education" disableRipple formControlName="education">
                <mat-option value="1">Did Not Complete High School</mat-option>
                <mat-option value="2">High School/GED</mat-option>
                <mat-option value="3">Some College</mat-option>
                <mat-option value="4">Bachelor</mat-option>
                <mat-option value="5">Master</mat-option>
                <mat-option value="6">Advanced Graduate Work ot h.D</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <mat-select placeholder="Employment" disableRipple formControlName="employment">
                <mat-option value="1">Currently Employed</mat-option>
                <mat-option value="2">Unemployed and Looking for Work</mat-option>
                <mat-option value="3">Unemployed but Not Currently Looking for Work</mat-option>
                <mat-option value="4">Student</mat-option>
                <mat-option value="5">Homemaker</mat-option>
                <mat-option value="6">Retired</mat-option>
                <mat-option value="6">Retired</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <button mat-raised-button color="primary" matStepperNext [disabled]="thirdFormGroup.invalid">Next</button>
            <button mat-raised-button color="accent" matStepperPrevious>Beck</button>
          </div>
        </form>
      </mat-step>
      //last step
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You have register new patient <b>John Smith</b>
        <br><br>
        <div class="col-sm-12">
          <button mat-raised-button color="primary" matStepperPrevious  [disabled]="thirdFormGroup.invalid && userForm.invalid && firstFormGroup.invalid">Confirm</button>
          <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
