<div class="workspace-container mid-position">
  <h3 class="workspace-title">Community Member Registration</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Register Community Member</mat-card-title>
    </mat-card-header>
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

      <mat-step [stepControl]="addressFormGroup">
        <form [formGroup]="addressFormGroup">
          <ng-template matStepLabel>Select the family</ng-template>
          <div class="chip">
            <app-input-default-box [attrContent]="defaultState" class="col-sm-3"></app-input-default-box>
            <app-input-default-box [attrContent]="defaultCounty" class="col-sm-3"></app-input-default-box>
            <app-input-default-box [attrContent]="defaultCity" class="col-sm-3"></app-input-default-box>
            <app-input-default-box [attrContent]="defaultCommunity" class="col-sm-3"></app-input-default-box>
          </div>
          <app-select-control-box [attrContent]="selectBlock"></app-select-control-box>
          <app-select-control-box [attrContent]="selectFamily"></app-select-control-box>
          <div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="addressFormGroup.invalid">Next</button>
            <button mat-raised-button matStepperNext color="accent">Create Family</button>
          </div>
        </form>
      </mat-step>

      //second step
      <mat-step [stepControl]="userForm">
        <form [formGroup]="userForm">
          <ng-template matStepLabel>Basic Information</ng-template>
          <h4> Register Information</h4>
          <div>
            <app-input-control-box [attrContent]="userName" class="col-sm-4"></app-input-control-box>
            <app-input-control-box [attrContent]="passWord" class="col-sm-4"></app-input-control-box>
            <app-input-control-box [attrContent]="confirmPassword" validateEqual="password" class="col-sm-4"></app-input-control-box>
          </div>
          <br>
          <h4>Personal Information</h4>
          <div>
            <app-input-control-box [attrContent]="firstName" class="col-sm-4"></app-input-control-box>
            <app-input-control-box [attrContent]="midName" class="col-sm-4"></app-input-control-box>
            <app-input-control-box [attrContent]="lastName" class="col-sm-4"></app-input-control-box>
          </div>
          <div class="col-sm-12">
            <app-select-control-box [attrContent]="selectGender" class="col-sm-12"></app-select-control-box>
          </div>
          <div>
            <app-input-control-box [attrContent]="phoneNumber" class="col-sm-6"></app-input-control-box>
            <app-input-date-box [attrContent]="date" class="col-sm-6"></app-input-date-box>
          </div>

          <div>
            <app-input-control-box class="col-sm-6" [attrContent]="addressOne"></app-input-control-box>
            <app-input-control-box class="col-sm-6" [attrContent]="addressTwo"></app-input-control-box>
          </div>
          <div>
            <app-input-control-box class="col-sm-4" [attrContent]="cities"></app-input-control-box>
            <app-select-control-box class="col-sm-4" [attrContent]="selectState"></app-select-control-box>
            <app-input-control-box class="col-sm-4" [attrContent]="zipCode"></app-input-control-box>
          </div>
          <div class="col-sm-12">
            <button mat-raised-button color="primary" matStepperNext [disabled]="userForm.invalid">Next</button>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <!--start of the third step -->
      <mat-step [stepControl]="otherFormGroup">
        <form [formGroup]="otherFormGroup">
          <ng-template matStepLabel>Additional Information</ng-template>
          <div>
            <app-select-control-box [attrContent]="race" class="col-sm-6"></app-select-control-box>
            <app-select-control-box [attrContent]="matrialStatus" class="col-sm-6"></app-select-control-box>
          </div>
          <div>
            <app-select-control-box [attrContent]="employments" class="col-sm-6"></app-select-control-box>
            <app-select-control-box [attrContent]="educations" class="col-sm-6"></app-select-control-box>
          </div>

          <div class="col-sm-12">
            <button mat-raised-button color="primary" matStepperNext [disabled]="otherFormGroup.invalid">Next</button>
            <button mat-raised-button color="accent" matStepperPrevious>Beck</button>
          </div>
        </form>
      </mat-step>
      //last step
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You have register new patient <b>John Smith</b>
        <br><br>
        <div class="col-sm-12">
          <button mat-raised-button color="primary" matStepperPrevious  [disabled]="otherFormGroup.invalid && userForm.invalid && addressFormGroup.invalid">Confirm</button>
          <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
