 <div class="login-main">
      <div class="mat-app-background basic-container mid-position">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="card-title mid-position">Focus - Pittsburgh</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="card-action mid-position">
            <div class="button-row">
              <button mat-raised-button color="warn" (click)="sysLogin()">Admin</button>
              <button mat-raised-button color="accent" (click)="bhcoLogin()">BHCO</button>
              <button mat-raised-button color="primary" (click)="cmemberLogin()">Member</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
 </div>
