.button-row {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-card {
  max-width: 400px;
  border-radius:15px;
  max-height: 400px;
  height:400px;
}

.basic-container {
  width:350px;
  height:400px;
  top: 30%;
  left: 50%;
  border-radius:15px;
}


.card-title {
  font-size:20px;
  color: #3f51b5;
  top: 15%;
  left: 50%;

}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.form-full-width {
  width: 100%;
}

.card-action {
  margin-left: auto;
  margin-right:auto;
  top: 55%;
  left: 50%;

}

