<div class="login-main">
  <div class="mat-app-background basic-container mid-position">
    <div class="title-theme">
      <h1 class="title"> FOCUS - Pittsburgh</h1>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="card-title mid-position">Member Login</mat-card-title>
      </mat-card-header>
      <mat-card-actions class="card-action mid-position">
        <div class="login-form">
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Username" value="">
          </mat-form-field>

          <mat-form-field class="form-full-width">
            <input matInput placeholder="Password" value="">
          </mat-form-field>
        </div>

        <mat-checkbox>Remember me</mat-checkbox>

        <div class="button-row">
          <button mat-raised-button color="primary" (click)="login()">Login</button>
          <button mat-raised-button color="accent" (click)="back()">Switch</button>
          <button mat-raised-button color="warn" (click)="forgotPwd()">Forget</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


