<div class="workspace-container mid-position">
  <h3 class="workspace-title">State Administrator Registration</h3>
  <mat-card class="system-card">
    <mat-card-header>
      <mat-card-title>Create state administrator account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        //first step
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select State</ng-template>
            <app-select-control-box [attrContent]="selectStates" (follow)=""></app-select-control-box>
            <div>
              <button mat-raised-button color ="primary" [disabled]="firstFormGroup.invalid"matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        //second step
        <mat-step [stepControl]="userForm">
          <form [formGroup]="userForm" novalidate>
            <ng-template matStepLabel>Registration Information</ng-template>
            <app-input-control-box [attrContent]="userName"></app-input-control-box>
            <app-input-control-box [attrContent]="passWord"></app-input-control-box>
            <app-input-control-box [attrContent]="confirmPassword" validateEqual="password"></app-input-control-box>
            <div>
              <button mat-raised-button color ="primary" [disabled]="userForm.invalid" matStepperNext>Next</button>
              <button mat-raised-button color ="accent" matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>
        //third step
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p> You have assigned <b class="admin-name"> John Smith </b></p>
          <p> to be the <b> PA </b> administartor.</p>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious >Confirm</button>
            <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
