<mat-accordion>
  <mat-expansion-panel class="panel-format">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="main-icon">account_box</mat-icon> &nbsp;
        <span class="main-menu"> <h4>Create Account</h4> </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item color="white">
      <mat-icon>account_box</mat-icon>
      <span>State Admin</span>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel-format">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="main-icon">trending_up</mat-icon> &nbsp;
        <span class="main-menu"> <h4>Analysis</h4> </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item color="white">
      <mat-icon>assessment</mat-icon>
      <span>Assessment</span>
    </button>
  </mat-expansion-panel>
</mat-accordion>
