<mat-accordion>
  <mat-expansion-panel class="panel-format">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="main-icon">thumbs_up_down</mat-icon> &nbsp;
        <span class="main-menu"> <h4> Social </h4> </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item color="white">
      <mat-icon>thumbs_up_down</mat-icon>
      <span>Social Network</span>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel-format">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="main-icon">assignment_ind</mat-icon> &nbsp;
        <span class="main-menu"> <h4> Demographic </h4> </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item color="white">
      <mat-icon>assignment_ind</mat-icon>
      <span>Demographic</span>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel-format">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="main-icon">assignment</mat-icon> &nbsp;
        <span class="main-menu"> <h4> Questionnaire </h4> </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item color="white">
      <mat-icon>assignment</mat-icon>
      <span>Questionnaire</span>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel-format">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="main-icon">trending_up</mat-icon> &nbsp;
        <span class="main-menu"> <h4> Analysis </h4> </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item color="white">
      <mat-icon>assessment</mat-icon>
      <span>Assessment</span>
    </button>
  </mat-expansion-panel>
</mat-accordion>
